
<div class="contact-form">
    @if (TempData["Success"] != null)
{
    <div class="alert alert-success text-center mb-4">
        @TempData["Success"]
    </div>
}
else
{
    <form class="mb-0" action="/Default/SendMessage/" method="post" autocomplete="off" >
        <div class="form-row">
            <div class="form-process"></div>

            <div class="col-12 col-md-6">
                <div class="form-group error-text-white">
                    <input type="text" name="NameSurname" placeholder="Enter your name" class="form-control required">
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group error-text-white">
                    <input type="email" name="EmailAddress" placeholder="Enter your email address" class="form-control required">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group error-text-white">
                    <input type="text" name="Subject" placeholder="Subject" class="form-control">
                </div>
            </div>

            <div class="col-12 mb-4">
                <div class="form-group error-text-white">
                    <textarea name="MessageDetail" placeholder="Here goes your message" class="form-control required" rows="7"></textarea>
                </div>
            </div>

            <div class="col-12 d-none">
                <input type="text" id="cf-botcheck" name="cf-botcheck" value="" class="form-control" />
            </div>

            <div class="col-12 text-center">
                <button class="btn btn-primary" type="submit">GÖNDER</button>
            </div>
        </div>
    </form>
    }
    <div class="contact-form-result text-center"></div>
</div>

